[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "==1.29.0"
openai = "*"
tiktoken = "==0.5.2"
python-dotenv = "==1.0.0"
unstructured = "==0.11.5"
pypdf = "==3.17.2"
sentence-transformers = "==2.2.2"
langchain-pinecone = "*"
pinecone-client = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.10"

